*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

main{
    background:linear-gradient(to right top,#65dfc9, #6cdbeb);
    min-height: 100vh;
    width:100%;
    font-family: 'Poppins', sans-serif;
    

  
}

.glass{
    background-color: white;
    min-height:80vh;
    width:60%;
    position:absolute;
    top:10%;
    left:20%;
    border-radius:2rem;
    background:linear-gradient(to right top,rgba(255,255,255,0.3),rgba(255,255,255,0.7));

    z-index:2;
    display:flex;
 
    
    
}

.circle1,.circle2{
    height:120px;
    width:120px;
    border-radius:50%;
    background:linear-gradient(to right top,rgba(255,255,255,0.3),rgba(255,255,255,0.8));

    position:absolute;
    filter: blur(0.5px);
   
}

.circle1{
top:5%;
left:15%;
z-index:1; 

}

.circle2{
    left:72%;
    bottom:3%;
}

.dashboard{
    flex:1;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
   
    
    
    
}
.link{
    display:flex;
    align-items: center;
    
    
 
    
}
.links{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    height: 50%;
    
}

.join{
    display:flex;
    
    align-items: center;
    
    height:20%;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3)
  );
    border-radius: 2rem;
    font-size:small;
  
    
} 

.games{
    flex:2;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card{
    display:flex;
    padding: 10px;
    background: linear-gradient(rgba(255,255,2555,0.7),rgba(255,255,2555,0.3));
    border-radius:1.5rem;
   

}

.cards{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;

}

.status{
    height: 10%;
}

a{
   padding:2px 20px;
   color:white;
   background-color: rgb(6, 236, 45);
   text-decoration: none;
   border-radius: 1rem;
   margin: 5px;
   
   

}

a:hover{
    padding:3px 20px;
    background-color: rgb(4, 255, 25);
}

p{
    font-size: 14px;
}

input{
    border-radius: 1rem;
}

img:hover{
    height: 65px;
    width:65px;}

.linkimg:hover{
    height: 40px;
    width:40px;
}
